<div class="table-container">
  <div class="panel-body table-container">
        {{simple-table model=model}}
      </div>

      <div class="panel-body table-container">
            {{simple-table model=model}}
          </div>
 </div>
